<div class="content" id="popup-wallet-provider">
  <div class="card">
    <h2><span class="c-one">WHICH IS YOUR</span><br /> WALLET PROVIDER</h2>

    <div class="body">
      <div class="button circular" (click)="connectWithMetamask()">
        <img src="assets/icons/metamask.svg" alt="fox icon" />
      </div>
      
      <div class="button circular" (click)="connectWithWalletConnect()">
        <img src="assets/icons/wallet-connect.svg" alt="fox icon" />
      </div>
    </div>

    <div class="buttons">
      <span class="button" (click)="continue()">CONTINUE WITHOUT WALLET</span>
    </div>
  </div>
</div>
