@use 'src/colors' as c;
@use 'src/fonts' as f;

%buttons {
  .button {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    font-weight: f.$black;
    line-height: 0;
    padding: 23px 34px 25px;
    border-radius: 6px;

    color: c.$primary-two;
    background-color: c.$light;
    box-shadow: rgb(0, 0, 0, 0.04) 2px 2px 4px,
      rgb(255, 255, 255, 0.8) -2px -2px 4px,
      inset rgb(0, 0, 0, 0.016) 20px 20px 15px,
      inset rgb(255, 255, 255, 0.6) -20px -20px 15px;

    &.circular {
      padding: 0;
      border-radius: 50%;

      box-shadow: rgb(0, 0, 0, 0.04) 8px 8px 12px,
        rgb(255, 255, 255, 0.6) -8px -8px 12px,
        inset rgb(0, 0, 0, 0.01) 10px 10px 20px,
        inset rgb(255, 255, 255, 0.6) -10px -10px 20px;
    }
  }
}

%buttons-dark {
  .button {
    color: c.$light;
    background-color: c.$dark-one;
    box-shadow: rgb(0, 0, 0, 0.1) 2px 2px 4px,
      rgb(255, 255, 255, 0.04) -2px -2px 4px,
      inset rgb(0, 0, 0, 0.04) 20px 20px 15px,
      inset rgb(255, 255, 255, 0.02) -20px -20px 15px;

    &.circular {
      box-shadow: rgb(0, 0, 0, 0.1) 8px 8px 12px,
        rgb(255, 255, 255, 0.04) -8px -8px 12px,
        inset rgb(0, 0, 0, 0.04) 10px 10px 20px,
        inset rgb(255, 255, 255, 0.01) -10px -10px 20px;
    }
  }
}
