<div class="content" id="popup-documents">
  <div class="card">
    <h2><span class="c-one">DOCUMENTS</span></h2>

    <div class="body">
      <ul>
        <li>
          <a href="assets/pdf/holder-swap-white-paper.pdf" target="_blank"
            ><span class="icon"></span> HFS - White Paper</a
          >
        </li>
        <li>
          <a href="assets/pdf/holder-swap-otc-desk-v1.pdf" target="_blank"
            ><span class="icon"></span> OTC Desk (v1)</a
          >
        </li>
        <li>
          <a href="assets/pdf/holder-swap-limit-protocol.pdf" target="_blank"
            ><span class="icon"></span> HolderLimit Protocol</a
          >
        </li>
        <li class="disabled">
          <a href="javascript:void(0);" target="_blank"
            ><span class="icon"></span> Dynamic Trading Fee</a
          >
        </li>
        <li class="disabled">
          <a href="javascript:void(0);" target="_blank"
            ><span class="icon"></span> Liquidity Pools Cap</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
