<div id="limit-actions">
  <div class="card">
    <h2>
      <span>HOLDER LIMIT</span><br />
      PROTOCOL - V1
    </h2>

    <div class="body">
      <p>
        Users of centralized exchanges set limit orders to buy at a lower price
        or to sell at a higher price than the current market price.
        Holder.Finance develops the same feature but into its decentralized
        exchange. Users are thus able to set their own trading strategy without
        the need of constantly following the price action on charts. Any user
        can also earn tokens simply by clicking “execute” button only when the
        trade is profitable. Holder.Finance runs hard testing to be sure that
        the user's funds are secured at best in the audited HolderLimit
        protocol’s smart contract.
      </p>
    </div>

    <div class="buttons">
      <span class="button" (click)="insertOffer()">INSERT AN OFFER</span>
      <span class="button" (click)="openLimitTrade()">VIEW ALL TRADE</span>
    </div>
  </div>
</div>
