@use 'src/variables' as v;

div#limit-actions {
  width: 978px;
  padding: 0 25px;
  box-sizing: content-box;
}

@media only screen and (max-width: v.$small) {
  div#limit-actions {
    width: 560px;
  }
}